[2016-03-03 10:15] vikasrohit opened #4 "Nav Bar || Dropdown React Component"
This is a generic component which will be reused in many other components.

Component tree

- dropdown-menu
  - dropdown-menu-header
  - dropdown-menu-list

Requirements
- Create a branch off of master and make a PR to master
- Should transclude the content in dropdown-menu-header and dropdown-menu-list
- Should support abstracting the logic of opening and closing the dropdown list
- Should be con

[2016-03-03 10:16] vikasrohit opened #5 "Nav Bar || Panel React Component"
This is a generic component which would be reused in other components.

Component tree

- panel
  - panel-header
  - panel-body

Requirements

- Should transclude the content in panel-header and panel-body
- Should support collapsing/expanding the panel body on click of specified DOM element in the panel header

[2016-03-03 10:17] vikasrohit opened #6 "Nav Bar || Standard list item component"
This is a generic component which will be reused across multiple components.

Component tree

- std-list-item
  - label(.text)
  - img(.icon)

Requirements:
- Create a branch off of master and make a PR to master
- Should support different layouts of text and icon, specifically:
  - icon above label (see example item in quick links item, icon is of 32x32 size)
  - icon in left and text following i

[2016-03-03 10:23] vikasrohit opened #7 "Nav Bar || Search Suggestions Panel components"
In this task, we are required to implement 4 components. Create a branch off of master and make a PR to master

**Main panel**

This panel contains two sub components. One for recent search suggestions and one for popular search suggestions.

_Component tree_

- search-suggestion-panel
  - recent-search-suggestions
  - popular-search-suggestions

_Requirements_

- Should have a configurable field

[2016-03-03 10:26] vikasrohit opened #8 "Nav Bar || User Dropdown Menu"
This component contains links that are needed for a logged in user.

Component tree

- user-dropdown-menu
  - dropdown-menu-header
    - user-image
    - username
    - dropdown-arrow
  - dropdown-menu-list(.user-menu-items-list)
    - std-list-item(.user-menu-item)

Requirements:
- Create a branch off of master and make a PR to master
- Should support non logged in view as rendered in the design

[2016-03-03 10:26] vikasrohit opened #9 "Nav Bar || Quick Links Dropdown menu"
This component contains quick links for easy access to different applications under the Topcoder platform.

Component tree

- quick-links-dropdown-menu
  - dropdown-menu-header
    - img(.quick-links-icon)
  - dropdown-menu-list(.quick-links-list)
    - std-list-item(.quick-link-item)

Requirements:
- Create a branch off of master and make a PR to master
- Should be responsive to support the mobil

[2016-03-03 10:27] vikasrohit opened #10 "Nav Bar || Menu Bar"
This is very simple component which just contains few links.

Component tree
- menu-bar
  - menu-item

Requirements:
- Create a branch off of master and make a PR to master
- Should be responsive as rendered in the design specks
- Should support highlighting the selected menu item

[2016-03-03 10:28] vikasrohit opened #11 "Nav Bar || Search Bar"
This component requires the search-suggestion-panel component as a dependency.

Component tree

- search-bar
  - input(.search-bar__text)
  - img(.search-bar__icon)
  - search-suggestion-panel(.search-bar__dropdown)

Requirements:
- Create a branch off of master and make a PR to master
- Should be responsive as rendered in the design specks
- Should implement typeahead/autocomplete feature. For no

[2016-03-03 10:29] vikasrohit opened #12 "Nav Bar || Complete Nav Bar"
This component will be developed after all other components have been completed.

Component tree

- nav-bar
 - topcoder-logo
 - search-bar
 - menu-bar
 - quick-links-dropdown-menu
 - user-dropdown-menu

Requirements:
- Create a branch off of master and make a PR to master
- Should be responsive as rendered in the design specks

[2016-03-04 09:52] reynard2007 commented on #11
Taking this.

[2016-03-04 10:26] vikasrohit commented on #11
@reynard2007 You can pick this up, however, this component would require search-suggestion-panel to be built first. So, may be you can pick first that or any component that depends on. Once you are done with them, you can pick this one as soon as you are done with that.

[2016-03-04 10:32] reynard2007 commented on #11
Thanks, @vikasrohit. I didn't realize that. Are you referring to Issue #7?

[2016-03-04 10:33] reynard2007 commented on #7
Taking this.

[2016-03-04 10:42] vikasrohit commented on #11
@reynard2007  Sorry for any confusion. However, basically one has to pick first all those components which does not depend on any other component e.g. panel, dropdown, std list item etc. Once they are done (PR is generated and merged), anyone can start on components that are using them. We would try to be as fast as possible to review and merge the PRs. Even though if we have some minor issues/thi

[2016-03-04 10:56] reynard2007 commented on #11
Got it. I'll take #4 then since it appears to be a generic component.

[2016-03-04 10:56] reynard2007 commented on #4
Taking this.

[2016-03-04 11:09] vikasrohit commented on #4
Go ahead. :+1:

[2016-03-05 03:19] vikasrohit commented on #4
@reynard2007 Everything good so far?

[2016-03-05 06:13] reynard2007 commented on #4
Hi @vikasrohit, just had to travel without access to my machine, but I'm working on it.

[2016-03-05 07:17] vikasrohit commented on #4
Cool. :+1:

[2016-03-06 04:29] reynard2007 commented on #4
Done with this, but where I'm traveling does not have reliable internet. Will push a merge request later tonight PHT.

[2016-03-06 04:52] vikasrohit commented on #4
Ok. No problem. @reynard2007 Are you going to pick any other task today?

[2016-03-06 06:06] k9101 commented on #6
Could I take this one?

[2016-03-06 06:12] vikasrohit commented on #6
You are all set. Go ahead. :+1:

[2016-03-06 06:14] vikasrohit commented on #5
We have removed this task from the community task. This component would be available in dev branch in couple of hours from now.

[2016-03-06 06:30] vikasrohit commented on #5
Component is available in dev branch.

[2016-03-06 06:30] #5 closed

[2016-03-06 06:42] vikasrohit commented on #4
@reynard2007 Please create PR against dev branch instead of master. We also have Panel component available there now.

[2016-03-06 06:43] vikasrohit commented on #6
@k9101 You can check Panel example in the dev branch for reference.

[2016-03-06 06:56] k9101 commented on #6
Ok thanks!
If the icon is on the left or right, should the text and image remain on their respective edges while the item fills it's container (like the panel)?

[2016-03-06 07:15] vikasrohit commented on #6
@k9101 Sorry, for any confusion, however, the icon and the image are the same. We are calling the image as icon. Now the three layouts (while naming the layouts, I have used text a base to decide the direction) would be like this:

a) dtu (down to up)
---------------------
|       icon          |
|       text           |
---------------------

b) rtl (right to left)
-------------------------------

[2016-03-06 09:03] reynard2007 commented on #4
Hi @vikasrohit, once I get back to the city, I'll pick #8.

[2016-03-06 09:08] reynard2007 commented on #4
It appears that #8 shoukd reuse this dropdiwn component. Should I carry on with it with what my implementation of the dropdown component even before review?

[2016-03-06 09:44] vikasrohit commented on #4
@reynard2007 you can use that as base so that you don't get blocked. However, the PR for #8 should be done only after PR for this issue is closed and merged. So, please make the PR as soon as you can do. Once your branch is merged into dev, you can remove them from your branch for #8 and directly use the components from the dev branch.

[2016-03-06 09:46] vikasrohit commented on #4
Just for information, we would not close the PR until the review and final fixes are done. So, you can continue fixing code in appropriate branches.

[2016-03-06 17:30] k9101 commented on #6
@vikasrohit Thanks, that makes sense.
I just created a pull request for this issue, let me know if you would like any changes.

[2016-03-06 18:21] reynard2007 commented on #8
Taking this

[2016-03-07 00:30] reynard2007 commented on #4
Now that I'm seeing the other requests, I will have to clarify the following after which I'll do a new PR (which should be quick):

1) The dropdown-header is the link you press that triggers the dropdown to open
2) The dropdown-menu-list will be inside the dropdown popup and will vary depending on whether it is used for quick links or user
3) We should have two transcluded content (as above) and t

[2016-03-07 02:15] reynard2007 commented on #8
May I clarify the following:

1) The parent (whole) navbar component is on flex display so this will be a flex-item
2) Will the login state change while on the same page will trigger a page change? I'm thinking if I am to handle the login state change in the component or just initialize it as either logged in or not.
3) The user avatar will also use the purple placeholder?
4) Does the dropdown sho

[2016-03-07 03:08] vikasrohit commented on #8
Go ahead. :+1:

#1 Ideally, component (user dropdown) should be independent of its parent (nav bar in this case). It should only behave differently based on the context provide by the parent i.e. it should adjust its width based on space provided by the parent. For mobile (width < 768px), we can always assume this component to reduce its header just to the user avatar and omit the username as depi

[2016-03-07 03:09] vikasrohit commented on #6
Thanks @k9101 I will review it in couple of hours. Meanwhile you can pick other one from available tasks.

[2016-03-07 03:19] vikasrohit commented on #4
Thanks @reynard2007 for working on this. I would try to answer your queries, let me know if that helps.

1. component should ask the className of the element under dropdown-header, which would be used as trigger. You can see the Panel component in the dev branch for this purpose.
2. Correct. In fact it can have any content, it depends on the parent component.
3. Yes, please refer Panel component w

[2016-03-07 03:24] vikasrohit commented on #4
@reynard2007 I am seeing two PR for the same issue. Please let me know which one is to be used for review, and please close the other one.

[2016-03-07 06:24] vikasrohit commented on #6
@k9101 Can you please adhere to ES6 coding style as suggested by React documentation. For reference, please see the updated Panel component in dev branch.

[2016-03-07 07:42] reynard2007 commented on #8
Thanks, for answering my queries. Another thing: the codebase uses CamelCase in class names of primary components. Do we follow that or use the dash format (.user-dropdown-menu)?

[2016-03-07 07:59] vikasrohit commented on #8
@reynard2007 Basic idea is to have component names in title case (e.g. Panel, StandardListItem etc) while css class names in dash format (e.g. panel-header, panel-body). Only exception to dash format class name is the main css class of the component e.g. FileUploader, Checkbox etc. We are aware that Panel component's main css class is not using title case as of now, we have to fix that.

[2016-03-07 12:36] vikasrohit commented on #10
This task has been removed from the available tasks for the [challenge](https://www.topcoder.com/challenge-details/30053171/?type=develop&noncache=true)

[2016-03-07 14:37] reynard2007 commented on #8
What are we to do if we have this on minimal width state of the user dropdown. Curently it renders like this on my machine:

![image](https://cloud.githubusercontent.com/assets/1097189/13572404/2c882702-e4b5-11e5-9989-0859f4ae8b74.png)

[2016-03-07 15:21] reynard2007 commented on #7
Taking this

[2016-03-07 15:26] reynard2007 commented on #7
Went through the speck and couldn't find this shown. Is there a mockup of this component that we can get? I remember it's in the video via the InVision prototype, but not sure how that helps.

[2016-03-07 16:12] vikasrohit commented on #7
Good catch. I would discuss with designer and update here. Meanwhile, you can simply assume the default margin paddings of the components being used. Thats the beauty of the component based development. :)
Just order the elements/components in the same way they are represented in the InVision. Purpose of this task is to have all requirement components for showing the search suggestions while user

[2016-03-07 16:19] vikasrohit commented on #8
I think it is fine. On mobile devices, we would show the dropdown content as inline element in the DOM through the configuration in dropdown component.

[2016-03-07 16:24] vikasrohit commented on #8
@reynard2007 There are conflicts in PR#18, please resolve them to enable us to review the code. Further, it would be really great if you can separate out the PRs for #4 and #8. This would allow us to better track changes per task.

[2016-03-07 17:06] vikasrohit commented on #7
@reynard2007 I have discussed with the designer @vic-appirio. He would be providing the specks for the whole search component by today EOD (PST). Meanwhile you can work on it, by following my previous comment.

[2016-03-08 05:09] vikasrohit commented on #7
@reynard2007 We have updated the live specks folder in the google drive to have the specks for the search dropdown as well. Please use that for your development of the component and let us know if you still have any query.

[2016-03-09 00:07] k9101 commented on #6
@vikasrohit sorry for the delay, I just created a pull request with those changes.

[2016-03-09 13:33] reynard2007 commented on #11
Taking this again.

[2016-03-10 03:10] reynard2007 commented on #9
Taking this. Creating  branch off of dev instead as mentioned in the challenge description

[2016-03-10 13:42] reynard2007 commented on #12
Taking this.

[2016-03-11 12:55] vikasrohit commented on #12
Sorry for the delay, however just to confirm, you are good to go.

[2016-03-11 15:11] reynard2007 commented on #12
Thanks @vikasrohit. BTW, where can I find the login/join button components? Also, the scope of this task is only the top navigation bar and does not include the gray sub-navigation below?

[2016-03-11 16:00] vikasrohit commented on #12
For now, you can have login/join button as simple buttons instead of being React components. And for sub-navigation is not the part of this task or challenge. We may have separate challenge for some other missing components like buttons and subnavigation etc.

[2016-03-11 17:03] vikasrohit commented on #10
Closing the issue as it is resolved by PR #22

[2016-03-11 17:03] #10 closed

[2016-03-15 06:57] vikasrohit commented on #11
@reynard2007 it seems the watermark text, when user types something in the text box, is not aligned with what user is typing. Can you please take care of it?
<img width="76" alt="searchbar-text-watermark-aligment" src="https://cloud.githubusercontent.com/assets/2417632/13769901/2df7fa78-eaa9-11e5-9d79-934dc8f9f62a.png">

[2016-03-15 07:00] vikasrohit commented on #4
@reynard2007 I am getting following error on other example pages.
`Uncaught TypeError: Cannot read property 'tagName' of null onClickOutside @ Dropdown.jsx:53`
It seems like the event handler is not being removed. Can you please verify if that is the problem with the component or is it used incorrectly in the example page?

[2016-03-15 07:02] vikasrohit commented on #4
I have also update the requirements to not have the feature which was to allow rendering of the dropdown content in specified element.

[2016-03-15 12:46] vikasrohit commented on #12
@reynard2007 As per specks, on mobile view (375px), we should be able to fit 6 elements (logo, 3 navigation links, 1 search icon, 1 icon for user details), however, as of now I think we are able to accommodate only 5 items, the last item is overflowing the device.

[2016-03-15 15:05] reynard2007 commented on #12
Hi @vikasrohit, acknowledging this and earlier comments. Will submit a new PR soon.

[2016-03-15 15:08] vikasrohit commented on #12
Thanks @reynard2007

[2016-03-15 15:43] reynard2007 commented on #12
I am unable to replicate the overflow issue. This is what I am seeing on my browser:

![image](https://cloud.githubusercontent.com/assets/1097189/13783773/a3a5c42c-eb07-11e5-89c8-269c4dc83872.png)

[2016-03-15 15:58] reynard2007 commented on #12
Apologies. My browser was zoomed out to 60%. Will fix this.

[2016-03-16 01:16] reynard2007 commented on #11
Made the fix already. I also changed the StandardListItem labelText propType to PropTypes.node to allow us to use a span DOM node for the emboldening effect on matching searches.

[2016-03-16 11:32] vikasrohit commented on #4
Closing task. Thanks @reynard2007 for your hard work.

[2016-03-16 11:32] #4 closed

[2016-03-16 11:32] vikasrohit commented on #8
Closing task. Thanks @reynard2007 for your hard work.

[2016-03-16 11:32] #8 closed

[2016-03-16 11:32] vikasrohit commented on #9
Closing task. Thanks @reynard2007 for your hard work.

[2016-03-16 11:32] #9 closed

[2016-03-16 11:33] vikasrohit commented on #7
Closing task. Thanks @reynard2007 for your hard work.

[2016-03-16 11:33] #7 closed

[2016-03-16 11:33] vikasrohit commented on #11
Closing task. Thanks @reynard2007 for your hard work.

[2016-03-16 11:33] #11 closed

[2016-03-16 11:33] vikasrohit commented on #12
Closing task. Thanks @reynard2007 for your hard work.

[2016-03-16 11:33] #12 closed

[2016-03-16 11:34] vikasrohit commented on #6
Closing task. Thanks @k9101 for your hard work.

[2016-03-16 11:34] #6 closed

[2016-03-16 13:18] reynard2007 commented on #12
My pleasure. Appreciate the advice you have given during this challenge :)

[2016-03-29 09:15] vikasrohit opened #50 "Tooltip React Component"
**Requirements:**

- [x] Should match the style shown in [specks](https://drive.google.com/drive/u/0/folders/0B1LbmKnex41fMkVfWFhSUlR3eGM)
- [x] The tooltip should be flexible and detect the position of the target relative to the viewport edge. By default the preferred orientation of the tooltip is above the target, centered. If this is not possible, the tooltip should try to stay above the target

[2016-03-29 09:30] vikasrohit opened #51 "Progress Bar React component"
**Requirements**
- [x] Should be styled as shown in [specks](https://drive.google.com/drive/u/0/folders/0B1LbmKnex41fMkVfWFhSUlR3eGM) (Please see the timeline component)
- [x] Should support checkpoints
- [x] Without checkpoints there would be no checkpoint circles

[2016-03-29 09:52] vikasrohit opened #52 "Prize and PrizeList React components"
Requirements
- [x] Two components PrizeItem and PrizeList where PrizeList may contain multiple PrizeItem(s)
- [x] Should be styled as shown in [specks](https://drive.google.com/drive/u/0/folders/0B1LbmKnex41fMkVfWFhSUlR3eGM)

[2016-03-29 10:18] vikasrohit opened #53 "TaggedValue and TaggedValueList React components"
**Requirements**
- [x] Should be styled as shown in [specks](https://drive.google.com/drive/u/0/folders/0B1LbmKnex41fMkVfWFhSUlR3eGM). Please see the bonus item in Prize tooltip
- [x] TaggedValue should ask for tag color, label of tag and corresponding value as properties
- [x] TaggedValue should render the number of times the tagged value is to be shown, as part of the component.
- [x] ~~TaggedVa

[2016-03-29 10:24] vikasrohit opened #54 "SubtrackDetails React component"
**Requirements**
- [x] Should follow the style described in [specks](https://drive.google.com/drive/u/0/folders/0B1LbmKnex41fMkVfWFhSUlR3eGM)
- [x] Track code (colored bars in top left of the component)  - represents for which main track the tooltip applies (can be combo of all 3 i.e. develop, design, data science)
- [x] Tracks, subtrack name, subtrack code and subtrack description should be confi

[2016-03-30 10:10] amolskh commented on #54
I am doing this

Regards

[2016-03-30 10:28] vikasrohit commented on #54
May I know your topcoder handle?

[2016-03-30 10:32] amolskh commented on #54
code56Life

[2016-03-30 10:42] vikasrohit commented on #54
:+1: Go ahead.

[2016-03-30 12:31] Colinh84 commented on #50
working on this.

[2016-03-30 12:58] vikasrohit commented on #50
:+1: Go ahead

[2016-03-30 15:39] amolskh commented on #54
Pull request has been submitted Please review and let me know if any changes required

[2016-03-30 15:43] amolskh commented on #52
I am doing this

Regards

[2016-03-30 16:43] vikasrohit commented on #52
Go ahead :+1:

[2016-03-31 05:05] amolskh commented on #52
I have submitted the pull request

[2016-03-31 05:06] amolskh commented on #53
I am taking this one

Regards

[2016-03-31 06:18] vikasrohit commented on #53
:+1:  Go ahead.

[2016-03-31 06:20] amolskh commented on #53
Could you help me locate component in that specks.. I can see description for Progressbar but not this

[2016-03-31 06:32] vikasrohit commented on #53
From requirements:

Basically, it is a generic version of what we are building (or in fact you have already built it) as PrizeItem with only exception that it allows the count (e.g. x 5) to be displayed as well. I know we can do that with your PrizeItem code, however, that requires the 'x 5' to be included in the `subText` property of the component. On the other side, TaggedValue component would a

[2016-03-31 06:37] amolskh commented on #53
If look and feel wise the component is same how about having optional   field called count in PrizeItem if optional field is present add 'x {count}' else render 'subText'  Does that work?

[2016-03-31 06:51] vikasrohit commented on #53
Indirectly, we would be doing the same. But we need this component as generic option for all other such components (e.g. PrizeItem). Further, TaggedValueList would also has option to adjust the layout such that it can wrap the elements or put a mobile friendly horizontal scroll.
In summary, it would be more generic than PrizeItem. We can do the reverse i.e. use this component in PrizeItem once you

[2016-03-31 07:20] katat commented on #51
working on this.

[2016-03-31 08:08] vikasrohit commented on #51
:+1: Go ahead

[2016-04-01 06:25] vikasrohit commented on #53
@amolskh Please let me know if you still have any confusion about these components and Prize components.

[2016-04-01 06:27] vikasrohit commented on #54
Marking issue in final fix.

[2016-04-01 06:28] amolskh commented on #53
No I think i am good as of now.. Will try to given you code by Today EOD

[2016-04-01 06:30] vikasrohit commented on #54
@amolskh you can do the final fixes after submission phase.

Final Fixes:

- [ ] Can we have one example for the component where only one track applies and another with two tracks being applied?
- [ ] Can we have example where description is not set?

[2016-04-01 06:31] vikasrohit commented on #51
@katat Please let us know here if you have any query.

[2016-04-01 06:32] vikasrohit commented on #50
@Colinh84 Please let us know here if you have any query.

[2016-04-01 08:04] amolskh commented on #53
If I understand correctly font color and background color code are supposed to be dynamic right?
How is this expected to be achieved ? inline css in .jsx or any other way

[2016-04-01 09:37] vikasrohit commented on #53
We can use classes which user can provide to the component (as array to TaggedValueList and as string to TaggedValue). And we can apply those classes to the component elements. If you see any problem with that, we are open to use any other approach which seems do the work with best practices. This is the place where we need your skill to get it done in better fashion.

If we settle down on my sugg

[2016-04-01 09:40] Colinh84 commented on #50
@vikasrohit I initially had some problems as the base repo doesn't build without errors on my Windows dev system, but I have it running now on my linux system and should have this task completed soon.

[2016-04-01 09:45] vikasrohit commented on #50
Thanks @Colinh84 for the update.

[2016-04-01 09:46] katat commented on #51
@vikasrohit I had a try and couldn't get enough time to finish it. Sorry. I remove the comment, so other can continue on this one.

[2016-04-01 09:50] vikasrohit commented on #51
Thanks @katat for the update. I guess we still have enough time to get it done, if you feel comfortable working on this, please let us know.

[2016-04-01 09:50] vikasrohit commented on #51
Task is available to be taken.

[2016-04-01 10:46] amolskh commented on #53
"TaggedValue should render the number of times the tagged value is to be shown, as part of the component."
As of now I can think of something like this
<TaggedValue title="1" subText="$10000" styleClass="colors"/>

[2016-04-01 10:52] vikasrohit commented on #53
Sorry, @amolskh however, I Didn't get you.

[2016-04-01 10:58] amolskh commented on #53
"TaggedValue should render the number of times the tagged value is to be shown, as part of the component." This line is mentioned in the requrirement
 TaggedValue title="1" subText="$10000" styleClass="colors"
along with above values I will be passing some sort of count ? if count is 2 I will be rendering componenet 2 times? or is the requirement trying to refer (subText X Count)
Its not very clea

[2016-04-01 11:02] vikasrohit commented on #53
Sorry for the confusion.
Yes, you will be passing the count as prop and

This is correct.

[2016-04-01 11:58] amolskh commented on #53
Could you elaborate for me more on 'TaggedValueList' component color scheme assorted and default..Also logic if count is 1 or more. Its not very clear TaggedValue We have already provided the styleclass which mentions styling of individual TaggedValue correct?

I can think of providing one more style element for TaggedValue List which can be css styles as per requirement

[2016-04-01 12:18] vikasrohit commented on #53
Let me try again

TaggedValue component would take style class (let say tagStyle) as argument which would be used to style the tag. Now when TaggedValueList component uses the TaggedValue component, it need to pass that tagStyle for each TaggedValue item. For this we have two options default or assorted. With default, we would use default styles which is to have TaggedValue items with count being

[2016-04-01 13:59] amolskh commented on #53
I have checked in the code . Please review and let me know your thoughts

[2016-04-01 14:49] amolskh commented on #51
I am taking this up
1) This refers to section timeline right?
2) Those circles and lines of progress will be drawn using css right?
3) can you provide some sample input about checkpoint data this component would use?

[2016-04-01 17:11] vikasrohit commented on #51
1. yes
2. yes
3. Checkpoints are those circles that you are mentioning in the 2. And in simple words, they are just marked label in  the progress bar e.g. if we assume a progress bar to denote duration of 6 days from today and we have a checkpoint after 2 days, then there would be a circle in the progress bar at 2/6 of the full length.

[2016-04-01 18:02] nlitwin commented on #50
Let us know if the error is with our repo. We definitely want the repo to be runnable on Windows too :)

[2016-04-01 18:03] amolskh commented on #50
Even I faced this issue that repo dosent work on windows gets deployed without errors by when I open url in browser get several errors

[2016-04-01 18:40] Colinh84 commented on #50
@nlitwin It seems to be an error caused by some incompatible node modules in the repo, here is the error and stack trace that happens when I run "npm run dev":

ERROR in ./~/react-dropzone/lib/index.js
Module build failed: ReferenceError: [BABEL] C:\Users\colin_000\Documents\dev\react-components\node_modules\react-dropzone\lib\index.js: Using removed Babel 5 option: C:\Users\colin_000\Documents\de

[2016-04-01 20:40] nlitwin commented on #50
Thank you! I will try to run it on my Windows partition tonight and see if I can get it working

[2016-04-02 08:11] amolskh commented on #51
PR Done... Please review

[2016-04-02 08:21] amolskh commented on #54
PR done .. Please review final fixes

[2016-04-02 13:41] vikasrohit commented on #54
Thanks @amolskh I have merged the branch. Please check if it creates conflicts for your other PRs. We will keep the issue open until challenge end so that we don't forget to pay for it. :grin:

[2016-04-04 09:34] vikasrohit commented on #50
@Colinh84 Submission is closing. Are you able to complete the task?

[2016-04-04 09:37] amolskh commented on #50
If allowed I can try to this one up

[2016-04-04 09:39] vikasrohit commented on #50
@amolskh we need to wait for @Colinh84's confirmation before releasing it. And in any case we have very few minutes remaining to the submission end time.

[2016-04-04 09:46] vikasrohit commented on #50
@Colinh84 We have extended the submission timeline by 24 hours to allow you to complete the task. Please let us know if you would not be able to do so.

[2016-04-04 21:23] Colinh84 commented on #50
@vikasrohit very close to submitting, just creating some extra examples for testing now.

[2016-04-05 03:08] vikasrohit commented on #50
Awesome. Please make sure you submit the PR before submission end time which is less than 7 hours from now. Also, please submit a zip with a text file mentioning the tickets you have worked on for this challenge.

[2016-04-05 04:34] Colinh84 commented on #50
@vikasrohit Alright, got the pull request in: https://github.com/appirio-tech/react-components/pull/72
Note that I created the merge request to master as instructed in the challenge details, but there are whole bunch of other commits mixed up in the PR since I started working from the dev branch as was requested in the forums..

[2016-04-05 05:03] vikasrohit commented on #50
@Colinh84 I have synced dev branch with master last week and starting this week. So, even if you take pull from origin/dev, it should remove conflicts and number of changes in your PR.

[2016-04-05 05:42] Colinh84 commented on #50
Updated PR: https://github.com/appirio-tech/react-components/pull/73

[2016-04-06 07:13] vikasrohit commented on #50
@Colinh84
Final fix items:

- [ ] Move example theme (.blue-round) styling to example scss
- [ ] Can we remove dependency on id of the element to show tooltip against it? One way could be wrap target element in tooltip component like `<Tooltip><div className="target"></div><div className="tootlip-body"></div></Tooltip>`

[2016-04-06 07:15] vikasrohit commented on #52
@amolskh
Final fixes:
- [ ] Can we reuse TaggedValue and/or TaggedValueList components for these two components?

[2016-04-06 07:19] vikasrohit commented on #51
@amolskh
Final fixes:

- [ ] Can you please include one more example with only two checkpoints?
- [ ] Can we also have examples with two checkpoints but not showing labels of either of them something like this:
![56a03fa4-fb2e-11e5-9082-9e63adab2a0a](https://cloud.githubusercontent.com/assets/2417632/14308776/f1baeec2-fbf5-11e5-8d05-f0c75e3bd762.png)

[2016-04-06 07:28] vikasrohit commented on #53
@amolskh Final fixes:
- [ ] Styles for TaggedValueList component should be in separate file
- [ ] Can we restrict the values of layout property using enums syntax `React.PropTypes.oneOf(['News', 'Photos'])`

[2016-04-06 15:06] amolskh commented on #52
Yes we can use ..Do you mean currently PrizeList component should referred internally to taggedList component

Please confirm..

[2016-04-06 17:07] Colinh84 commented on #50
@vikasrohit Final fixes have been implemented, PR here: https://github.com/appirio-tech/react-components/pull/78

[2016-04-07 03:16] vikasrohit commented on #52
Didn't get your point @amolskh. We would still have PrizeItem and PrizeItemList components, however, they would delegate actual rendering to TaggedValue and TaggedValueList components respectively. We can either inherit TaggedValue in PrizeItem and TaggedValueList in PrizeItemList or just encapsulate TaggedValue in PrizeItem and TaggedValueList in PrizeList. It would be more clear, which one to us

[2016-04-08 05:05] vikasrohit commented on #52
@amolskh Do you need further clarification for final fix?

[2016-04-08 14:12] amolskh commented on #52
Sorry for the delay.. I have made PR please review and merge

[2016-04-14 07:41] #50 closed

[2016-04-14 07:41] #51 closed

[2016-04-14 07:41] #52 closed

[2016-04-14 07:41] #53 closed

[2016-04-14 07:41] #54 closed

[2016-05-27 06:38] vikasrohit opened #84 "[$75] React Tooltip - Allow the tooltip to persist if mouse is moved out to tooltip itself"
As of now, the tooltip component goes away as soon as the mouse goes out of the target element. This behaviour prevents the tooltips to be clickable because as user tries to move mouse to the tooltip, it goes away.
#### Scope

- [x] fix the behaviour such that the tooltip persists when user tries to hover over the tooltip itself.
- [x] add an example, in tooltip examples component, showing the the

[2016-06-02 10:16] vikasrohit commented on #84
Resolved with challenge https://www.topcoder.com/challenge-details/30054399/?type=develop&noncache=true

[2016-06-02 10:16] #84 closed

[2016-07-19 22:49] parthshah opened #86 "MenuNav should use Link component and not anchor tag directly"
See https://github.com/reactjs/react-router/blob/master/docs/API.md#link for more information

[2016-07-20 04:34] vikasrohit commented on #86
@parthshah it would bind components with redux and we would not be able to render it in legacy or even angular apps without referencing redux.

[2016-07-20 05:40] parthshah commented on #86
Did you mean react-router dependency? AFAIK this has no dependency on redux.

[2016-07-20 06:17] vikasrohit commented on #86
yup, sorry... I was concerned about react-router.

[2016-07-20 15:00] parthshah commented on #86
We already have a dependency on React-router. But in case we have a problem
with legacy apps, maybe we can create a new component LinkMenuNav ?

On Tue, Jul 19, 2016 at 11:18 PM vikasrohit <notifications@github.com>
wrote:

[2016-07-21 04:25] vikasrohit commented on #86
Agreed. Even I have added a property(forReactRouter) in the MenuBar react component to use React Router's Link component of not.

[2016-07-21 04:25] #86 closed

[2016-08-02 17:11] parthshah opened #87 "Tabs Component"
Create a re-usable tabs component in react.   Ideally this is just a presentational 'dumb' component. (https://preact.gitbooks.io/react-book/content/jsx/dumb.html)

It can be use in main section of the
![image](https://cloud.githubusercontent.com/assets/1987710/17337419/60a0d628-5897-11e6-890c-371b20b8f328.png)

Or it can be nested in as part of other components
![image](https://cloud.githubuserco

[2016-12-21 07:18] vikasrohit opened #100 "Tooltip || Fix the tooltip rendering with one of parent being relatively positioned"
Current implementation works fine only if none of the ancestors of the target element has been rendered with relative position. When this is the case current implementation renders the tooltip out of viewport.
http://screencast.com/t/Oonj3nNW

[2016-12-21 07:24] vikasrohit opened #101 "Tooltip || Fix CSS conflict coming from Dropdown component"
One of the CSS style coming form Dropdown component is conflicting with tooltip component which has default theme.
<img width="1280" alt="github 101" src="https://cloud.githubusercontent.com/assets/2417632/21380728/33b93c54-c77d-11e6-8824-903f93181871.png">

[2016-12-22 06:13] #100 closed, assigned to nobody

[2016-12-22 06:13] #101 closed, assigned to nobody

[2017-02-27 07:53] vikasrohit opened #117 "Display title for options of the SelectDropdown"
As of now, SelectDropdown component is rendering the options' value field for the display of the option. To allow more readable option values, it should render title field of the option object.

Branch: feature/connectv2

[2017-03-27 11:24] #117 closed, assigned to vikasrohit

[2017-03-27 11:25] vikasrohit opened #138 "Remove console errors"
Current console errors to be removed:

- [x] missing key for TiledRadioGroup component
~~- [ ] required property `children` error for FileList component~~

Update: FileList component does not exists in this repo. So, removing that.

[2017-06-14 19:51] vic-georgiev opened #264 "Update Travis CI configuration to allow use of version for components"
We need to start using version in react-components and tc-ui so that changes will be distributed on `npm i`, and also for keeping consistency. Currently Travis CI has a problem with version upgrades.

We also can use version to lock components on different apps, which would make it easy to version lock the development

[2017-10-18 07:51] #138 closed, assigned to vikasrohit

[2017-10-18 07:54] vikasrohit opened #267 "Support specific type for input text"
As of now [TextInput](https://github.com/appirio-tech/react-components/blob/feature/connectv2/components/Formsy/TextInput.jsx) component does not support limiting specific type of content in the text box. It should support limiting input by type e.g. Number only, Alpha numeric or any string.

[2017-10-18 07:57] vikasrohit opened #268 "Support column layout for RadioGroup component"
As of now, [RadioGroup](https://github.com/appirio-tech/react-components/blob/feature/connectv2/components/Formsy/RadioGroup.jsx) component is rendered only horizontally which creates problems some time when we have long strings as options for the radio group.
Adding this support would allow user of the component to specify layout in props and the component would render accordingly.

[2017-10-18 10:44] vikasrohit opened #269 "Support Dropdown form component"
Right now we don't have any form component which renders similar to the select dropdown.

Actually, we have the component but it does not reside in react-components repo. It is located [here](https://github.com/appirio-tech/connect-app/tree/dev/src/components/SelectDropdown). Scope of this issue is now to port that component to react-components repo.

[2017-10-25 07:39] vikasrohit commented on #267
It is already supported by passing `type` into props of the TextInput component.

[2017-10-25 07:39] #267 closed, assigned to vikasrohit

[2017-11-21 12:01] vikasrohit opened #273 "Validation error for custom validation is not working"
Custom validation message is not being rendered if we apply multiple validations to the same field and specify error messages using `validationErrors` property object. To overcome the issue we have to provide default error message using `validationError` property.

Reference of bug filed against the formsy repo: https://github.com/formsy/formsy-react/issues/21

[2017-11-27 13:02] vikasrohit commented on #273
Deployed on dev and verified.

[2017-11-27 13:02] #273 closed, assigned to vikasrohit

[2018-08-07 02:52] maxceem opened #290 "Warning: Formsy: isMounted is deprecated. Instead, make sure to clean up subscriptions and pending requests in componentWillUnmount to prevent memory leaks."
There is warning in the browser console since long time ago. It doesn't bring any known issue though.

It comes from Formsy package, and it's fixed in the newer version of the Formsy, see https://github.com/christianalfoni/formsy-react/issues/455

Maybe we can give a try if it's quick enough and updated version doesn't bring any other issues.

[2018-08-07 06:04] vikasrohit commented on #290
Thanks for logging it. We should take it in next release, not this one.

[2018-08-23 05:18] maxceem commented on #290
Fixed by [PR 291](https://github.com/appirio-tech/react-components/pull/291)

[2018-08-29 03:38] maxceem commented on #290
@vikasrohit I think this one is closed and merged, fyi

[2018-08-29 03:40] maxceem opened #293 "Warning: Unknown prop `'data-cap'` on <path> tag"
There is a warning caused by https://github.com/appirio-tech/react-components/blob/feature/connectv2/components/Icons/round-e-help.svg

[code]

[2018-08-29 04:01] maxceem commented on #293
Found out that is more general issues and most likely should be fixed here, but in connect-app instead https://github.com/appirio-tech/connect-app/issues/2453

[2018-08-29 05:23] vikasrohit commented on #290
Yes. Thanks for noticing.

[2018-08-29 05:23] #290 closed, assigned to nobody

[2018-08-29 06:47] maxceem opened #294 "TCFormFields.TextInput doesn't update default value from updated prop"
This comes from the issue in connect-app https://github.com/appirio-tech/connect-app/issues/2448

The situation looks like this:
- We define the initial value of `TCFormFields.TextInput` by the `value` property with the value from the Redux store
- After we edit `TCFormFields.TextInput` using keyboard
- Update value in the Redux store on form submit
- So the updated value comes to the `TCFormField

[2018-10-16 04:52] maxceem commented on #293
It's resolved in connect-app https://github.com/appirio-tech/connect-app/issues/2453

[2018-10-16 04:52] #293 closed, assigned to nobody

[2019-02-26 02:21] maxceem opened #311 "Fix lint"
`npm run lint` produces `76 Errors` which can be fixed.

[2019-05-14 09:27] vikasrohit opened #316 "TiledRadioGroup component malfunction for multipleOptions is set false"
TileRadioGroup component is supposed to select only one value at a time and when a user selects a particular value, it should automatically unselect the previously selected value. As of now, it is auto selecting some options when selecting others and not letting deselect that auto selected option until the primary option is deselected again.

Carried from https://github.com/appirio-tech/connect-ap

[2019-05-14 09:47] vikasrohit commented on #316
Done via https://github.com/appirio-tech/react-components/commit/358a586536e2bb3cae68ccf81c1e58a34142c122

[2019-05-14 09:47] #316 closed, assigned to vikasrohit

[2019-05-31 10:43] vikasrohit opened #319 "New form component for skill suggestions"
(Users can select multiple answers)
**Answers:**
**Primary Answers**: These answer options should be displayed immediately as checkboxes. It is optional for the user to complete this question.
Display this Text above the answer options: Most Commonly Requested Skills:
- Structured Test Case Creation
- Structured Test Case Execution
- Unstructured Testing
- Mobility Testing
- Performance Testing
-

[2019-06-11 06:08] maxceem commented on #319
1. As per discussion on Slack we should be able to enter new skills which are not listead by API. We should post them to the backend and after use their IDs to be stored in the project details. When we post skills to the API, I guess they wouldn't have `status=APPROVED` while initially we show only approved skills. This could lead to the fact there the skills which we post may be already stored in

[2019-06-11 06:48] vikasrohit commented on #319
@maxceem I checked the API, and it seems we don't have the ability to update the skills without admin privileges. I think for now we can just store the custom skills typed by the user only in our connect database as our regular question in `details` json. We don't need to update it to the server.

[2019-06-11 06:51] maxceem commented on #319
@vikasrohit so we would store skills names like `Jekyll`, `Word/Rich Text`, `Interaction Design (Ixd)` instead of their ids, right?

[2019-06-11 06:53] vikasrohit commented on #319
I think we can keep `id` for the skills which are selected from our available skills. That way we would be able to identity that which skills are missing from system and needed to be added. We can store skills just like we are storing `addons` i.e. as array of JSON objects where each object would have `name` as compulsory field while `id` would be optional field for custom skills.

[2019-06-12 06:58] vikasrohit commented on #319
@maxceem do you think when ca we get these changes (fetching the skills from the api)?

[2019-06-12 07:07] maxceem commented on #319
@vikasrohit yes we can do that.

The only thing I'm not sure if we should move this component to the react-components. The logic feels quite specific to Connect app. It feels that react-components is good for basic components which would be reused multiple times like `Select`, `Checkbox` and so on. But the component for displaying skills in two ways with checkboxes and select feels like would be u

[2019-06-12 07:18] vikasrohit commented on #319
I think it makes sense to have this component in react-components (and later on we might have to move it to react-utils repo), because I think we can use this component in community app as well to let users select the skills with some frequent skills listed on the top and in fact we can configure out component in way that it won't show frequent skills if they are not specified in its props so esse

[2019-06-12 10:19] maxceem commented on #319
Got it @vikasrohit.

The last thing. Currently, we filter skills based on the selected deliverables. We have the next values for deliverables:
[code]

While in the data returned by API we have the next categories:
[code]

So there are two questions:
1. As I understand we can match `design => DESIGN` and `dev-qa => DEVELOP`. But we won't get any skills for `qa` and `deployment`. The same time we wo

[2019-06-12 11:46] vikasrohit commented on #319
I think we need to keep the mapping between the deliverables and skills categories, in the template itself and pass the final category that is determined from that mapping to Skills components in react-components and if no category is determined from the mapping or there is no mapping specified, we won't pass any category to the Skills component which would in turn not filter skills based on any c

[2019-06-15 13:22] maxceem commented on #311
Lint errors have been fixed during some work and already pushed to the `feature/connectv2` branch.

[2019-06-15 13:22] #311 closed, assigned to nobody

[2019-06-17 01:44] maxceem commented on #319
If no mapping specified - we show the all the items - it's clear.

I have some concerns regarding this. If we didn't choose any deliverables then no categories would be determined. Should we show all the skills in such case? See how it looks at the moment:

![image](https://user-images.githubusercontent.com/146016/59573221-7b794880-90e4-11e9-9455-619d91ea6d3a.png)

[2019-06-17 05:36] vikasrohit commented on #319
Yep, I think we should be good with that. We would hide (by moving it to next subsection) the skill picker until user selects the deliverables in the first step.

[2019-07-12 08:43] RishiRajSahu opened #323 "Slider component for Connect project form"
ref - https://github.com/appirio-tech/connect-app/issues/3159

[2019-07-18 09:43] RishiRajSahu commented on #323
Done via https://github.com/appirio-tech/react-components/pull/322

[2019-07-18 09:43] #323 closed, assigned to nobody

[2019-08-22 09:08] maxceem opened #328 "isRequired validator doesn't support numeric values"
If we have `TCFormFields.TextInput` component with `type="number"` and we use `isRequired` validate rule like `validations={ isRequired: true }`, then on rendering such component with value which is numerical there would be error in console:
[code]

The reason for this is code in this file https://github.com/appirio-tech/react-components/blob/feature/connectv2/components/Formsy/index.js. It applie

[2019-08-22 09:16] vikasrohit commented on #328
Good catch.

[2019-08-22 09:16] vikasrohit commented on #328
@maxceem are you fixing it along with your other changes or should we mark it for our next bug bash?

[2019-08-22 09:24] maxceem commented on #328
Fixed via PR https://github.com/appirio-tech/react-components/pull/329

Tested it locally works good.